---
import Container from './container.astro'
import { Badge } from './ui/badge'
---

<Container>
  <div class="mt-14">
    <article class="flex items-center justify-center mb-4">
      <Badge variant="outline"> Features </Badge>
    </article>
  </div>
</Container>
